/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 50px 0;
}
/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.card {
  border: 1px solid black;
}

.card-header {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.card-body {
  padding: 0.5rem;
}

/* # SECTION HEADER */

.header-page > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-item li {
  display: inline-block;
}

/* # SECTION HERO */

#hero .container {
  position: relative;
  top: 50%;
}

.hero-content {
  display: flex;
}

/* # SECTION BUSINESS PLAN */

#business-plan {
  padding-top: 100px;
}

#business-plan .plan-type {
  display: flex;
}

#business-plan .business-cards {
  display: flex;
  gap: 2rem;
}

#business-plan .business-cards > * {
  flex-grow: 1;
}

/* # DEBUG */
.debug,
.debug * {
  background-color: lightgrey;
  border: 2px dashed black;
  padding: 10px;
  min-height: 50px;
}
