/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* # HEADER-INTRODUZIONE */

.upper-header > .container {
  display: flex;
}

.upper-header .upper-item {
  flex-basis: 20%;
  padding: 13px 14px;
  text-align: center;
  justify-content: space-between;

  background-color: aqua;
  border: 2px dashed black;
}

.upper-introduttiva {
  background-color: #cde9ff;
  height: 549px;
  width: 100%;
}

.upper-introduttiva .blocco1 {
  background-color: blue;
  height: 95px;
  width: 100%;
}
.upper-introduttiva .blocco2 {
  display: flex;
  background-color: red;
  height: 507px;
  width: 100%;
}

.upper-introduttiva .blocco2 .blocco-interno1 {
  background-color: rgb(171, 133, 165);
  height: 100%;
  width: 32%;
}

.upper-introduttiva .blocco2 .blocco-interno2 {
  background-color: rgb(58, 195, 97);
  height: 100%;
  width: 68%;
}
